/* Variables */

// Colors
$color-one: #0097e6;
$color-two: #073B3A;
$color-three: #ff5252;
$color-four: #2c2c54;
$primary-text-color: #ffffff;


// Fonts
$font-family-primary: 'Inconsolata';
$font-size-base: 16px;
$line-height-base: 1.7;

$transition: all 1s;

/* Global */

// Reset
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family-primary;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $primary-text-color;
}

.container {
    width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding:96px 0;
}

.btn {
    display: inline-block;
    min-width:160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family:$font-family-primary;
    font-size:16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition:$transition;
}

.btn:hover{
    background-position: 0 100%;
    color:$color-one;
}

.title{
        color:black;
        font-family:$font-family-primary;
        font-size:48px;
        margin:0 0 72px 0;
}
/* Navigation */
.navigation {
    background:$color-one;
    padding:12px 0;
    
    .container {
        display: flex;
        justify-content: flex-end;
        width:100%;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }
    
    li {
        display:inline-block;
        position:relative;
        margin-right:36px;
    }
    
    a {
        text-decoration:none;
        color:$primary-text-color;
    }
    
    a:hover {
        color:$color-two;
    }
}

.navigation ul ul {
    
    display:none;
    
    li {
        display:block;
        margin-bottom:12px;
    }
}

.navigation li:hover ul {
    display:block;
    position:absolute;
    background:white;
    left: 50%;
    transform: translateX(-50%);
    padding-top:12px;
    text-align: left;
    
    a {
        color:$color-one;
        display:block;
        text-align: center;
        padding:0 24px;
    }
    
    a:hover {
        color:$color-two;
    }
}

.splash{
    display:flex;
    background:$color-one;
    color:white;
    min-height:500px;
}

.splash-inner{
    margin:auto;
    max-width:70%;
}

.page-title{
    margin:0;
    font-size:56px;
    word-spacing:-5px;
    font-weight:100;
    line-height:1.2;
}

.page-title span{
    font-weight:700;
    font-style:italic;
}

.page-subtitle{
    margin:24px 0;
    font-size:16px;
    font-weight:400;
    
}

.btn-one{
    color:white;
    border-color:white;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
    margin-bottom:10%;
}

.title-div{
    margin-top:96px;  
}    

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    
.our-service {
    color: black;
    margin-bottom: 176px;
    align-items: stretch;
    
    div {
        flex: 0 0 33.333%;
    }

    .column {
        position: relative;
        padding-right:3px;
        display: flex;
        flex-direction: column;
        margin-top:7%;
        margin-bottom:7%;
        padding-left:1%;
    }
}

.service-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row:last-of-type {
    margin-top: auto;
}

.row-number {
    position: absolute;
    font-size: 102px;
    line-height: 1;
    top: -35px;
    opacity: 0.2;
    color: $color-one;
}

.row {
    display:flex;
    flex-wrap:wrap;
    
    h3 {
        font-size: 24px;
        margin: 0 0 12px 0;
    }
    
    p{
        max-width:100%;
    }
    
    .btn {
        color: black;
        border-color: black;
        position:absolute;
        bottom:-80px;
    }
}

.btn-two {
    background-image: linear-gradient(90deg, $color-two 50%, transparent 50%);
}

.btn-two:hover {
    color: white;
    border-color:white;
    
}

.btn-three {
    background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
}

.btn-three:hover {
    color: white;
    border-color:white;
    
}

.btn-four {
    background-image: linear-gradient(90deg, $color-four 50%, transparent 50%);
}

.btn-four:hover {
    color: white;
    border-color:white;
    
}

.our-projects .column{
    flex: 0 0 50%;
    display: flex;
    margin-bottom:96px;
    min-height:300px;
}

.skill-image {
    position: relative;
    max-width:250px;
    min-height: 300px;
    flex:5;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s;
        position: relative; 
        z-index: 0;
    }
}

.skill-image:after {
    content: '';
    width: 100%;
    height: 100%;
    background: $color-one;
    opacity: 0.3;
    z-index: 1;
    position: absolute; 
    top: 20px; 
    left: 20px;
    transition: top 0.5s ease, left 0.5s ease;
}
.skill-image:hover:after{
    position: absolute; 
    top: 0px; 
    left: 0px; 
}

.skill-description {
    flex:5;
    color:black;
    height:100%;
    flex-wrap:wrap;
    overflow: hidden;
    padding-top:5px;
    padding-left:7%;
    
    p:last-of-type{
        font-weight:bold;
    }
    
    p{
        flex-wrap:wrap;
    }
}


.btn-five{
    border: none;
    margin: 36px 0;
    padding: 0;
    text-align: left;
    color:$color-three;
}

.btn-five:hover{
    color:$color-four;
}

.contact-form h3{
    color:white;
    font-family:$font-family-primary;
    font-size:48px;
    margin:0 0 72px 0;
}

.wrapper-contact{
    display: flex;
    width: 1140px;
    height:500px;
    padding: 0 20px;
    margin: 0 auto;
}

.contact-container{
    background:$color-one;
    width:100%;
}

input::placeholder {
  color: white;
  padding-left:5px;
  padding-bottom:5px;
}

textarea::placeholder {
  color: white;
  padding-left:5px;
}

.contact-form{
    flex: 2 0 0;
    margin-right:96px;
    margin-top:30px;
    
    input, textarea{
        width:85%;
        background:$color-one;
        border-top:none;
        border-left:none;
        border-right:none;
        border-bottom:3px solid white;
        color:white;
        margin-top:25px;
        padding-bottom:10px;
    }
    
    textarea{
        height:100px;
    }
    
    h3{
        margin-bottom:2%;

    }

}

.contact-data{
    flex: 1 0 0;
    margin-top:70px;
    font-size:18px;
    line-height:1.5;
    padding:70px;
    
    span{
        display:inline-block;
        font-size:24px;
        font-weight:bold;
        margin-top:15px;
    }
}

/* Footer */
.footer {
    background: $color-four;
    padding: 60px 0;
    text-align: center;
}

.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icons li {
    font-size: 0;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: $color-one;
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-icons i {
    font-size: 30px;
    color: white;
}

.social-icons a:hover {
    transform: scale(1.2);
}


/* Media */
@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    
    .navigation{
        padding: 5px 0;
        
        li{
            margin-right:10px;
        }
    }
    
    .splash {
        min-height: 400px;
        padding: 40px 0;
        text-align: center;
    }
    
    .splash-inner {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .page-title {
        font-size: 32px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .page-subtitle {
        font-size: 14px;
        margin: 20px 0;
        text-align: center;
        line-height: 1.5;
    }
    
    .btn-one {
        margin: 20px auto 0 auto;
        display: block;
    }
    
    .title, .skill-title{
        text-align:center;
    }
    
    .wrapper-contact, .service-wrapper, .wrapper {
        flex-direction: column;
    }
    
    .our-service .column {
        flex: 0 0 100% !important;
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }
    
    .our-service div {
        flex: 0 0 100% !important;
    }
    
    .service-wrapper {
        padding: 20px;
        margin: 0;
    }
    
    .row .btn {
        position: static !important;
        bottom: auto !important;
    }
    
    .btn{
        margin-top: 20px;
    }
    
    .btn-five{
        border: none;
        margin: 20px 20px 0 0;
        padding: 0;
        text-align: right;
        color: $color-three;
        display: block;
        width: auto;
        margin-left: auto;
        z-index: 2; 
    }
    
    .row h3,p {
        margin:auto;
        text-align: center;
    }
    
    .row p{
        padding-top:20px;   
    }
    
    .skill-image, .skill-description {
        max-width: 100%;
        height: auto;
        margin-bottom:50px;
    }
    
    .skill-description {
        max-width: 100%;
        height: auto;
        margin-bottom: 0;
        background: white !important;
        position: relative;
        z-index: 2;
        padding: 25px !important;
    }
    
    .row-number {
        position:absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
    }
    .page-title {
        font-size: 36px;
        line-height: 1;
    }
    
    .page-subtitle {
        font-size: 12px;
        font-weight: 200;        
    }
    
    .our-projects .column {
        flex: 0 0 100% !important;
        flex-direction: column;
        z-index: 1;
    }
    
    .skill-image {
        max-width: 100%;
        min-height: 200px;
    }
    
    .wrapper-contact {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0 15px;
    }
    
    .contact-form {
        flex: 1 1 100%;
        margin-right: 0;
        margin-top: 0;
        padding: 20px 0;
    }
    
    .contact-form h3 {
        font-size: 32px;
        margin: 0 0 40px 0;
        text-align: center;
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
    }
    
    .contact-form textarea {
        height: 80px;
    }
    
    .contact-data {
        flex: 1 1 100%;
        margin-top: 0;
        padding: 30px 0;
        text-align: center;
        font-size: 16px;
    }
    
    .contact-data span {
        font-size: 20px;
        margin-top: 20px;
    }
    
    .contact-container {
        padding: 40px 0;
    }
    
    .footer {
        padding: 40px 0;
    }
    
    .social-icons {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    
    .social-icons a {
        width: 45px;
        height: 45px;
    }
    
    .social-icons i {
        font-size: 20px;
    }
    
    .contact-form .btn {
        width: 100%;
        margin: 20px 0;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
        padding: 0 30px;
        max-width: 720px;
    }
    
    .navigation {
        padding: 8px 0;
        
        li {
            margin-right: 20px;
        }
    }
    
    .splash {
        min-height: 450px;
        padding: 50px 0;
        text-align: center;
    }
    
    .splash-inner {
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .page-title {
        font-size: 42px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .page-subtitle {
        font-size: 15px;
        margin: 25px 0;
        text-align: center;
        line-height: 1.5;
    }
    
    .btn-one {
        margin: 25px auto 0 auto;
        display: block;
    }
    
    .title, .skill-title {
        text-align: center;
        font-size: 40px;
    }
    
    .wrapper {
        gap: 25px;
    }
    
    .our-service .column {
        flex: 0 0 48% !important;
        width: 100%;
        margin: 15px 0;
        padding: 0;
    }
    
    .our-service div {
        flex: 0 0 48% !important;
    }
    
    .service-wrapper {
        padding: 25px;
        margin: 0;
    }
    
    .row .btn {
        position: static !important;
        bottom: auto !important;
        margin-top: 20px;
    }
    
    .btn {
        margin-top: 20px;
        min-width: 140px;
        padding: 14px;
    }
    
    .btn-five {
        border: none;
        margin: 25px 15px 0 0;
        padding: 0;
        text-align: right;
        color: $color-three;
        display: block;
        width: auto;
        margin-left: auto;
    }
    
    .row h3, .row p {
        margin: auto;
        text-align: center;
    }
    
    .row p {
        padding-top: 15px;
    }
    
    .skill-image, .skill-description {
        max-width: 100%;
        height: auto;
    }
    
    .row-number {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 90px;
    }
    
    .our-projects .column {
        flex: 0 0 100% !important;
        flex-direction: row;
        margin-bottom: 60px;
    }
    
    .skill-image {
        max-width: 40%;
        min-height: 250px;
    }
    
    .skill-description {
        max-width: 60%;
        padding: 25px;
    }
    
    .wrapper-contact {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0 30px;
        gap: 40px;
    }
    
    .contact-form {
        flex: 1 1 100%;
        margin-right: 0;
        margin-top: 0;
        padding: 25px 0;
    }
    
    .contact-form h3 {
        font-size: 40px;
        margin: 0 0 50px 0;
        text-align: center;
    }
    
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        margin-top: 20px;
        font-size: 16px;
    }
    
    .contact-form textarea {
        height: 100px;
    }
    
    .contact-data {
        flex: 1 1 100%;
        margin-top: 0;
        padding: 30px 0;
        text-align: center;
        font-size: 17px;
    }
    
    .contact-data span {
        font-size: 22px;
        margin-top: 20px;
    }
    
    .contact-container {
        padding: 50px 0;
    }
    
    .footer {
        padding: 50px 0;
    }
    
    .social-icons {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    
    .social-icons a {
        width: 48px;
        height: 48px;
    }
    
    .social-icons i {
        font-size: 24px;
    }
    
    .contact-form .btn {
        width: auto;
        margin: 25px auto 0 auto;
        display: block;
    }
    
    .our-service .column:nth-child(3) {
        flex: 0 0 100% !important;
        margin-top: 30px;
    }
}